#meme-image-container {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  display: flex;
  background-color: white;
  box-sizing: border-box;
}

#meme-image {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

#meme-text {
  text-shadow: black 5px 5px 5px;
  position: absolute;
  color: white;
  font-size: 30px;
}

.buttonStyle {
  margin-top: 5px;
}

#fire {
  background-color: red;

}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

.miniMeme {
  width: 60px;
  height: 60px;
}
